body {
    color: rgb(255, 255, 255);
    background: rgb(18, 20, 32);
    margin: 0px;
    font-family: "Playfair Display", serif;
}

header {
    border-bottom: solid 1px rgb(255, 115, 0);
    font-size: 20px;
    padding: 16px;
}

section {
    background: rgb(31, 30, 65);
    padding-bottom: 80px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    font-family: "Unlock", serif;
    font-size: 35;
}
h1{
    font-size: 40px;
}

p{
    font-size: 17px;
}